.App {
  text-align: center;
  background-image: './images/background.png';
}

.App-header {
  background-color: #454545;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ui.inverted.button.active:focus {
  background: white !important;
}

.summonerCard {
  width: 290px !important;
  height: 290px !important;
  background-size: contain !important;
  background-image: url(http://ddragon.leagueoflegends.com/cdn/8.9.1/img/profileicon/588.png) !important;
}

/* .champion-grid > .row:first-child {
  padding-top: 1rem !important;
} */

.champion-grid {
  height: calc(600px + 0.5 * 1vw);
  overflow: overlay;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 740px;
  margin: auto;
}

.champion-grid img {
  flex: 0 0 120px;
  height: 120px;
  width: 120px;
  margin-right: calc(0.1 * 1vw);
  margin-bottom:calc(0.1 * 1vw);
} 

@font-face {
  font-family: 'Legendary';
  src: url('./fonts/Beaufort-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

