.App {
  text-align: center;
}

.App-header {
  background-color: #454545;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ui.inverted.button.active:focus {
  background: white !important;
}