<!DOCTYPE html>
<html lang="en">

<head>

	<title>interacting-with-but-not-selling-real-world-data</title>

</head>

<body>
	Home Page

	<br>
	<br>

	<a href="/ingame">In-Game</a><br>
	<a href="/profile">Profile</a><br>
	<a href="/settings">Settings</a><br>
	<a href="/">Logout</a>
</body>

</html>