<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>interacting-with-but-not-selling-real-world-data</title>

</head>

<body>
	Login / Index Page

	<br>
	<br>

	<a href="/home">Login</a>
</body>

</html>