<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>interacting-with-but-not-selling-real-world-data</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
</head>

<body>
	<div class="container">

		<div class="row my-4">
			<div class="col-3">
				<a href="/home">Back</a>
			</div>
			<div class="col-9 text-center">
				Active Game - 0:00 (Loading Screen)
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
		</div>

		<div class="row my-4">
			<div class="col text-center">
				VS
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/TeemoSquare.png">
				<br>
				Teemo
			</div>
		</div>

		<hr>

		<div class="row my-4">
			<div class="col text-center">
				Item Recommendations
			</div>
		</div>

		<div class="row">
			<div class="col">
				Starting Items:
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/DoransRing.jpeg">
				<br>
				Doran's Ring
			</div>
			<div class="col text-center">
			</div>
			<div class="col text-center">
			</div>
			<div class="col text-center">
			</div>
			<div class="col text-center">
			</div>
			<div class="col text-center">
			</div>
		</div>

		<div class="row">
			<div class="col">
				Final Build:
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>
			<div class="col text-center">
				<img class="img-fluid" src="/img/RabadonsDeathcap.jpg">
				<br>
				Rabadon's Deathcap
			</div>

		</div>

	</div>

</body>

</html>