<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>interacting-with-but-not-selling-real-world-data</title>
	<!-- Stylesheets -->
	{{> bootstrapCSS}}
</head>

<body>

<div class="container-fluid">

	<div class="modal" id="summonerModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Add a new Summoner</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
				  <input type="text" placeholder="Username">
				</div>
			</div>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select Region
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">NA</a>
				<a class="dropdown-item" href="#">EUW</a>
				<a class="dropdown-item" href="#">KR</a>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<div class="center aligned grid">
	  <div class="column">
		<h2>
		  <div class="content">
			My Summoners
		  </div>
		</h2>

		<a href="/home">Home</a>
		<a href="/settings">Settings</a>
		
		<hr>
		<ul class="list-group">
		  <li class="list-group-item">Summoner1
				<span class="pull-right ">
				 <button type="button" onclick="location.href='ingame'" class="btn btn-primary pull-right">In game</button>
			   </span>
			
		  </li>
		  <li class="list-group-item">Summoner2</li>
		</ul>
	  </div>
	  
	  <button type="button" data-toggle="modal" data-target="#summonerModal" class="btn btn-success">Add a new Summoner</button>
	</div>
	
</div>

</body>

<!-- Scripts -->
    {{> bootstrapJS}}

<script> 

function addSummoner() {
	
}

</script>

</html>